<mat-toolbar>
  <button mat-icon-button class="menu-icon" aria-label="icon-button with menu icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'show'" [routerLinkActive]="'active-link'">Shows</button>
    <button mat-menu-item [routerLink]="'song'" [routerLinkActive]="'active-link'">Songs</button>
  </mat-menu>
  <h1>Pony Tyler Rennleitung</h1>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button class="example-icon add-box-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>add_box</mat-icon>
  </button>
</mat-toolbar>

<div class="main-stage">
  <router-outlet></router-outlet>
</div>